@use 'variables' as *;

:host {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  // Ocultamos el cursor en móviles para que no estorbe
  @media (hover: none) { display: none; }
}

// 1. El Punto Central (Sólido y Cuadrado)
.cursor-dot {
  width: 6px;
  height: 6px;
  background-color: $king-black; // Negro sólido = Contraste garantizado
  border-radius: 0; // ¡Bordes rectos!
  position: fixed;
  transform: translate(-50%, -50%);
  // Sombra suave para que no se pierda si pasas por algo oscuro
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5); 
}

// 2. El Marco Seguidor (Técnico)
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 1px solid rgba($king-black, 0.3); // Gris oscuro sutil
  border-radius: 0; // Cuadrado perfecto
  position: fixed;
  transform: translate(-50%, -50%);
  transition: 
    width 0.2s cubic-bezier(0.25, 1, 0.5, 1), // Movimiento seco y preciso
    height 0.2s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.2s,
    border-color 0.2s,
    transform 0.3s; // Para la rotación

  // --- ESTADO HOVER (Cuando tocas un botón) ---
  &.hovered {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-color: $accent-color; // Se pone azul eléctrico
    border-width: 2px;
    
    // ¡Aquí está el truco arquitectónico! 
    // Rota 45 grados para parecer un símbolo de plano
    transform: translate(-50%, -50%) rotate(45deg); 
  }
}